services:
  sqlite:
    image: keinos/sqlite3
    container_name: golang-echo-sqlite
    command: ["tail", "-f", "/dev/null"]
    volumes:
      - user-data:/data

  app:
    build: .
    container_name: golang-echo-showcase
    depends_on:
      - sqlite
    volumes:
      - user-data:/home/appuser/app/shared
    ports:
      - "3333:3333"
    restart: unless-stopped
    environment:
      - USER_DB_PATH=/home/appuser/app/shared/user.db

volumes:
  user-data:
